<div class="container mt-5">
  <div class="row">
      <div class="col-lg-8 offset-lg-2">
          <div class="card border-dark mb-3" style="background-color: rgba(220, 216, 216, 0.362);">
              <div class="card-body text-center">
                <span class = "titulo"> CONFIGURACIONES</span>
                  <div class="boton">
                      <button class="btn btn-secondary border-info float-start " routerLink="/lista-consulta">CONSULTAS</button>
                      <button class="btn btn-secondary border-info text-center" routerLink="/lista-categoria">CATEGORIA</button>
                      <button class="btn btn-secondary border-info float-end" routerLink="/lista-subclase">SUBCLASE</button>
                  </div>
              </div>
          </div>
      </div>
  </div>




    <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="card border-dark mb-3" style="background-color: rgba(220, 216, 216, 0.362);">
                <div class="card-body text-center">
                  <div>
                      <span class = "titulo">LISTA DE CONSULTAS</span>
                      <button class="btn btn-success border-dark float-end" routerLink="/crear-consulta">NUEVO</button>
                      <button routerLink="/" class="btn btn-secondary border-dark float-start">VOLVER</button>
                    </div>
                    
                    <br>

                    <div class="mb-3">
                      <input type="text" class="form-control custom-input" placeholder="Buscar por referencia" [(ngModel)]="searchTermReferencia" (ngModelChange)="filtrarConsulta()">
                    </div>
                    
                    <table *ngIf="filteredConsulta.length > 0" class="table table-bordered table-light table-hover border-dark mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Referencia</th>
                            <th scope="col">Pregunta</th>
                            <th scope="col">Respuesta</th>
                            <th scope="col">Subclase</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                            
                          <tr *ngFor="let consulta of filteredConsulta">
                            <td>{{ consulta.referencia }}</td>
                            <td>{{ consulta.pregunta }}</td>
                            <td>{{ consulta.respuesta }}</td>
                            <td>{{ consulta.subclase.nombre }}</td>
                            <td>
                              <i [routerLink]="['/editar-consulta', consulta._id]" class="fas fa-edit text-primary"></i>
                              <i (click)="eliminarConsulta(consulta._id)" class="fas fa-trash text-danger"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <h5 style="text-align: start; margin-top: 10px" *ngIf="filteredConsulta.length === 0">No hay productos para mostrar.</h5>
                      
                </div>
            </div>
        </div>
    </div>
</div>
