

.image-container img {
  max-width: 35px; 
  height: auto; 
  display: inline-block; 
  cursor: pointer;
  margin-left: 7px;

 }

  
.container {
  max-width: 1100px;
  margin: 7px;
}

  
  .card-body {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
  }
  
  .mensaje {
    padding: 10px;
    margin: 5px 0;
    display: flex;
    align-items: flex-start;
    width: 100%; 
  }
  
  
  .pregunta {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .respuesta {
    color: #333;
  }

  .chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 465px; 
  }
  
  .mensaje {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  
  .mensaje-usuario {
    justify-content: flex-end;
    align-self: flex-end; 
  }
  
  .mensaje-bot {
    justify-content: flex-start;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .contenido-mensaje {
    max-width: 70%;
  }


.mensaje {
  padding: 10px;
  margin: 5px 0;
  display: flex;
  align-items: flex-start;
  width: 100%; 
}

.mensaje-usuario {
  justify-content: flex-end;
  align-self: flex-end; 
}

.mensaje-bot {
  justify-content: flex-start;
}


.custom-input {
  width: 20%; 
  padding: 8px;
  border: 1px solid #000000; 
  border-radius: 5px; 
  background-color: #ffffff60; 
  color: #000000; 
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-input:focus {
  box-shadow: 0 0 0 0.2rem rgba(1, 13, 25, 0.25); 
}